* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  background: #141a34;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container form {
  max-width: 500px;
  width: 90%;
  background: white;
  padding: 50px 30px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.5);
  position: relative;
}

.fa-paper-plane {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  font-size: 26px;
  padding: 20px;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-group {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
}

.input-group label {
  flex-basis: 28%;
}

.input-group input,
.input-group textarea {
  flex-basis: 68%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 10px 0;
  border-bottom: 1px solid #999;
  color: #333;
  font-size: 16px;
}

::placeholder {
  font-size: 14px;
}

form button {
  background-color: #141a34;
  color: white;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  padding: 10px 40px;
  outline: 0;
  cursor: pointer;
  display: block;
  margin: 30px auto 10px;
  font-size: 16px;
}

.input-group span {
    position: absolute;
    bottom: 10px;
    right: 17px;
    font-size: 13px;
    color: red;
}

#submit-error {
    color: red;
}

.input-group i {
  color: seagreen;
}
